## Variables, Values, Expressions, Conversions

In [1]:
total = 2048 + 4357 + 97658 + 125 + 8
files = 5
average = total / files
print("The average size is: " + str(average))

The average size is: 20839.2

In [2]:
bill = 47.28
tip = bill * 0.15
total = bill + tip
share = total/2
print("Each person needs to pay: " + str(share))

Each person needs to pay: 27.186

In [3]:
numerator = 10
denominator = 10
result = numerator / denominator
print(str(result))

1.0

In [4]:
word1 = "How"
word2 = "do"
word3 = "you"
word4 = "like"
word5 = "Python"
word6 = "so"
word7 = "far?"

print(word1+" "+word2+" "+word3+" "+word4+" "+word5+" "+word6+" "+word7)

How do you like Python so far?

In [5]:
print("2 + 2 = " + str(2 + 2))

2 + 2 = 4

In [7]:
def print_seconds(hours, minutes, seconds):
    print(3600*hours+60*minutes+seconds)

print_seconds(1,2,3)

3723

In [8]:
def get_seconds(hours, minutes, seconds):
  return 3600*hours + 60*minutes + seconds

amount_a = get_seconds(2,30,0)
amount_b = get_seconds(0,45,15)
result = amount_a + amount_b
print(result)

11715

In [9]:
# REPLACE THIS STARTER CODE WITH YOUR FUNCTION
june_days = 30
print("June has " + str(june_days) + " days.")
july_days = 31
print("July has " + str(july_days) + " days.")

June has 30 days.
July has 31 days.

In [10]:
def month_days(month,days):
    print(month + " has " + str(days) + " days.")

month_days("June",30)
month_days("July",31)

June has 30 days.
July has 31 days.

In [11]:
def f1(x, y):
	z = x*y  # the area is base*height
	print("The area is " + str(z))

In [ ]:
# Refactor
def rectangle_area(base, height):
	area = base*height  # the area is base*height
	print("The area is " + str(area))
rectangle_area(5, 6)

In [17]:
# 1) Complete the function to return the result of the conversion
def convert_distance(miles):
    km = miles * 1.6  # approximately 1.6 km in 1 mile
    return km

my_trip_miles = 55

# 2) Convert my_trip_miles to kilometers by calling the function above
my_trip_km = convert_distance(my_trip_miles)

# 3) Fill in the blank to print the result of the conversion
print("The distance in kilometers is " + str(my_trip_km))

# 4) Calculate the round-trip in kilometers by doubling the result,
#    and fill in the blank to print the result
print("The round-trip in kilometers is " + str(my_trip_km*2))

The distance in kilometers is 88.0
The round-trip in kilometers is 176.0

In [18]:
# This function compares two numbers and returns them
# in increasing order.
def order_numbers(number1, number2):
	if number2 > number1:
		return number1, number2
	else:
		return number2, number1

# 1) Fill in the blanks so the print statement displays the result
#    of the function call
smaller, bigger = order_numbers(100, 99)
print(smaller, bigger)

99 100

In [19]:
def lucky_number(name):
  number = len(name) * 9
  message = "Hello " + name + ". Your lucky number is " + str(number)
  return message
	    
print(lucky_number("Kay"))
print(lucky_number("Cameron"))

Hello Kay. Your lucky number is 27
Hello Cameron. Your lucky number is 63

In [23]:
print("cat" + "Cat")

catCat

In [22]:
print("cat" > "Cat")

True